.bg-cover{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  overflow: hidden;
  position: relative;
}
.welcome-bg{
  background-image: url("../img/bg3.png");
  height: 100%;
  margin-top: 40px;
}
