<ion-view view-title="Gracias por el negocio">
  <ion-content class="has-header thanks">
    <div class="row row-center text-center">
      <div class="col col-center">
        <h1>¡Gracias!</h1>
        <h3>Por un negocio concretado.</h3>
        <hr>
      </div>
    </div>
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Gracias a
        </div>
        <select>
          <option selected>Elías Gómez</option>
          <option>Eric Chacón</option>
        </select>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Monto</span>
        <input type="number" placeholder="$500.00">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Tipo de negocio
        </div>
        <select>
          <option selected>Nuevo negocio</option>
          <option>Negocio repetido</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Tipo de referencia
        </div>
        <select>
          <option selected>Interna</option>
          <option>Externa</option>
        </select>
      </label>
      <label class="item item-input item-stacked-label">
        <textarea placeholder="Comentarios"></textarea>
      </label>
    </div>
    <div class="padding-left padding-right">
      <button class="button button-block button-positive">Enviar datos</button>
    </div>
  </ion-content>
</ion-view>
