<ion-view view-title="Perfil">
  <ion-content class="has-header">
    <h2 class="padding text-center">Perfil de usuario</h2>
    <div class="list config-space">
      <label class="item item-input item-floating-label">
        <i class="icon ion-network"></i> <input type="text" ng-model="user.profession" placeholder="Ingresa aquí tu profesión">
      </label>
      <label class="item item-input item-floating-label">
        <i class="icon ion-person"></i> <input type="text" ng-model="user.firstName" placeholder="Ingresa aquí tu nombre">
      </label>
      <label class="item item-input item-floating-label">
        <i class="icon ion-person"></i> <input type="text" ng-model="user.lastName" placeholder="Ingresa aquí tus apellidos">
      </label>
      <label class="item item-input item-floating-label">
        <i class="icon ion-ios-telephone"></i> <input type="number" ng-model="user.phone" placeholder="Ingresa aquí tu número telefónico">
      </label>
      <label class="item item-input item-floating-label no-radius">
        <i class="icon ion-android-mail"></i> <input type="text" ng-model="user.email" placeholder="Ingresa aquí tu correo electrónico">
      </label>
      <div class="item item-toggle">
        Recibir notificaciones
        <label class="toggle toggle-balanced">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
    </div>
    <div class="padding-left padding-right">
      <button class="button button-block button-positive" ng-click="saveChanges()">Guardar Cambios</button>
    </div>
  </ion-content>
</ion-view>
