<ion-view view-title="BNI Occidente">
  <ion-content class="has-header thanks">
    <div class="row row-center text-center">
      <div class="col col-center">
        <h1>¡Gracias!</h1>
        <h3>Por un negocio concretado.</h3>
        <hr>
      </div>
    </div>
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Gracias a
        </div>
        <select ng-model="toMember.id" ng-options='member.id as ( member.first_name + " " + member.last_name ) for member in members'></select>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Monto</span>
        <input type="number" placeholder="$500.00" ng-model="work.amount">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Tipo de negocio
        </div>
        <select ng-model="work.type" ng-options='bussiness.id as bussiness.type for bussiness in bussinessTypes'></select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Tipo de referencia
        </div>
        <select ng-model="work.referenceType" ng-options='reference.id as reference.type for reference in referenceTypes'></select>
      </label>
      <label class="item item-input item-stacked-label">
        <textarea placeholder="Comentarios adicionales" ng-model="work.comments"></textarea>
      </label>
    </div>
    <div class="padding-left padding-right">
      <button class="button button-block button-positive" ng-click="sendWork()">Enviar datos</button>
    </div>
  </ion-content>
</ion-view>
