<ion-view view-title="BNI Occidente">
  <ion-content class="has-header">
    <div class="row row-center text-center">
      <div class="col col-center">
        <h2>Tengo una referencia</h2>
        <hr>
      </div>
    </div>
    <div class="list reference">
      <label class="item item-input item-stacked-label">
        <div class="input-label">
          De
        </div>
        <input type="text" placeholder="Nombre de su contacto" class="from"></input>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Para
        </div>
        <select>
          <option selected>Elías Gómez</option>
          <option>Eric Chacón</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Contacto
        </div>
        <select>
          <option selected>Le di su tarjeta</option>
          <option>Le dije que usted lo llamaría</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Tipo de referencia
        </div>
        <select>
          <option selected>Interna</option>
          <option>Externa</option>
        </select>
      </label>
      <label class="item item-input item-floating-label">
        <i class="icon ion-location"></i> <input type="text"  placeholder="Ingresa la dirección del contacto">
      </label>
      <label class="item item-input item-floating-label">
        <i class="icon ion-ios-telephone"></i> <input type="number" placeholder="Ingresa el número telefónico del contacto">
      </label>
      <label class="item item-input item-floating-label no-radius">
        <i class="icon ion-android-mail"></i> <input type="text"  placeholder="Ingresa el correo del contacto">
      </label>
      <label class="item item-input item-floating-label no-radius">
        <i class="icon ion-thermometer"></i> <p class="padding-top">¿Cuán caliente está la referencia?</p>
      </label>
      <div class="list">
        <div class="item range range-positive">
          <i class="icon ion-ios-flame-outline"></i>
          <input type="range" name="volume" min="0" max="5" value="5">
          <i class="icon ion-ios-flame"></i>
        </div>
      </div>
      <label class="item item-input item-stacked-label">
        <textarea placeholder="Comentarios adicionales"></textarea>
      </label>
    </div>
    <div class="padding-left padding-right">
      <button class="button button-block button-positive">Enviar datos</button>
    </div>
  </ion-content>
</ion-view>
